---
import Icon from './Icon.astro'

interface Props {
  label: string
  title: string
  href: string
  imageUrl: string
  textColor?: string
}

const {label, title, href, imageUrl, textColor = '#FFFFFF'} = Astro.props
---

<a href={href} class="group block text-center lg:text-left">
  <img
    src={imageUrl ?? 'https://placehold.co/16x11'}
    alt={title}
    class="w-full aspect-16/11 object-cover transition-transform duration-300 group-hover:-rotate-2 rounded-t-2xl"
  />
  <div class="mt-5 lg:mt-3 flex items-center justify-between gap-3">
    <div class="min-w-0 flex-1 text-center lg:text-left">
      <p
        class="text-xs font-heading tracking-widest uppercase opacity-70"
        style={`color: ${textColor};`}
      >
        {label}
      </p>
      <p
        class="font-heading font-semibold uppercase group-hover:underline text-3xl"
        style={`color: ${textColor};`}
      >
        {title}
      </p>
    </div>
    <Icon
      type="chevron-right"
      size={24}
      addedClasses="shrink-0 transition-transform duration-200 group-hover:translate-x-1 hidden lg:block"
      style={`color: ${textColor};`}
    />
  </div>
</a>
