---
import {imageConfig} from 'astro:assets'
import ImageComposition from '../ImageComposition.astro'
import Button from '../Button.astro'

interface Props {
  title: string
  text: string
  image: {
    front: string
    back: string
    layout: 'both-horizontal' | 'both-vertical' | 'mixed'
    frontOrientation?: 'horizontal' | 'vertical'
  }
  backgroundColor?: string
  hasLeftImage?: boolean
  sectionPadding?: 'sm' | 'md' | 'lg'
}

const {title, text, image, backgroundColor, hasLeftImage, sectionPadding = 'md'} = Astro.props
---

<section class={`py-section-${sectionPadding} ${backgroundColor || 'bg-capellos-purple'}`}>
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-8 items-center">
      <!-- Text -->
      <div class={`col-span-6 ${hasLeftImage ? 'order-2' : 'order-1'}`}>
        <h2 class="text-purple-100 text-4xl font-bold">
          {title}
        </h2>
        <p class="text-purple-100 text-lg mt-4">
          {text}
        </p>
        <Button addedClasses="mt-4"> Bestel nu </Button>
      </div>

      <!-- Image -->
      <div class={`col-span-6 ${hasLeftImage ? 'order-1' : 'order-2'}`}>
        <ImageComposition
          images={{
            front: image.front,
            back: image.back,
          }}
          layout={image.layout}
          frontOrientation={image.frontOrientation}
          alignment={hasLeftImage ? 'left' : 'right'}
        />
      </div>
    </div>
  </div>
</section>
