---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import SidebarNav from '../components/SidebarNav.astro';
import CartIcon from '../components/CartIcon.astro';
import HomeButton from '../components/HomeButton.astro';
import {getNavSettings} from '../queries/settings';

interface Props {
	title?: string;
}

const { title = 'Capellos' } = Astro.props;
const navSettings = await getNavSettings();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<HomeButton triggerBg={navSettings.homeBackgroundColor} triggerIcon={navSettings.homeIconColor} />
		<SidebarNav triggerBg={navSettings.triggerBackgroundColor} triggerIcon={navSettings.triggerIconColor} logoColor={navSettings.sidebarLogoColor} />
		<CartIcon triggerBg={navSettings.cartBackgroundColor} triggerIcon={navSettings.cartIconColor} />
		<slot />
	</body>
</html>
